:root {
  font-size: 0.7em;
}

body {
  margin: 0;
  background: white;
  padding-top: 70px;
}

#install {
    display: none;
}

#install.show-install {
    display: inline-block;
}

header {
    position: fixed !important;
    top: 0;
    width: 100%;
}

.loading .fa-refresh {
  animation: 1s rotate infinite steps(30);
}

@keyframes rotate {
  from { transform: rotate(1deg); }
  to { transform: rotate(360deg); }
}

#install:not(.show-install) {
  display: none;
}

ul {
  list-style: none;
  font-size: 1.4rem;
  padding: 0 10px;
  height: 50%;
}

img {
  width: 12px;
  height: 12px;
  padding: 2px 10px;
}

li {
  color: #0072DB;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  position: relative;
  min-height: 6rem;
  margin: 20px 0.5rem;
  border-bottom: 0.1rem solid #E6E6E3;
  color: #000;  
}

.who {
    display: none;
}

li > a,
li > a:visited {
  color: #0072DB;
  text-decoration: none;
}


.meta {
  color: #aaa;
  font-size: 1.2rem;
  margin-left: 12px;
}

.meta > span {
  margin-right: 10px;
}


.intro {
    height: 200px;
    width: 200px;
    margin: auto;
    text-align: center;
    margin-top: 100px;
}

.intro > .fa {
    display: inline-block;
    text-align: center;
    line-height: 70px;
    margin: 10px;
    width: 70px;
    height: 70px;
    background: #FEFEFE;
    outline: 1px dashed #E0E5E5;
    font-size: 50px;
}
