:root {
  font-size: 0.7em;
}

body {
  margin: 0;
}

#install {
    display: none;
}

#install.show-install {
    display: inline-block;
}

.icon-reload {
  background-image: url(../images/reload.png);
}

section[role="region"] > header:first-child .icon.icon-reload {
  background-image: url(../images/reload.png);
}

/*
[data-type="list"] li p:first-of-type {
    font-size: 1em;
    line-height: 1.2rem;
}

[data-type="list"] li p {
  font-size: 0.8rem;
  line-height: 1rem;
}

[data-type="list"] li,
[data-type="list"] li > a {
    height: 4em;
}
*/

.loading .icon-reload {
  animation: 3s rotate infinite steps(30);
}

@keyframes rotate {
  from { transform: rotate(1deg); }
  to { transform: rotate(360deg); }
}

#install:not(.show-install) {
  display: none;
}
