#install {
    display: none;
}

#install.show-install {
    display: inline-block;
}

body {
  margin: 0;
  font: 1.6rem/2.2rem System Sans, Sans-serif;
}

.icon-reload {
  background-image: url(../images/reload.png);
}

section[role="region"] > header:first-child .icon.icon-reload {
  background-image: url(../images/reload.png);
}
